# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime data
.astro/

# environment variables
.env
.env.production
.env.development
.env.local
.env.production.local
.env.development.local

# system files
.DS_Store
Thumbs.db
